.detailsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .charactersWrapper {
    display: flex;
    width: 500px;
    justify-content: space-between;
    .animeCharacter {
      display: flex;
      width: 48%;
      img.characterImage {
        width: 120px;
      }
      .characterDetails {
        word-break: break-word;
      }
    }
  }
  .voiceActorsWrapper {
    width: 48%;
    .voiceActors {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .personDetails {
        word-break: break-word;
      }
      img.characterImage {
        width: 120px;
      }
    }
  }
}
