.filtersWrapper {
  margin-bottom: 10px;
  animation-name: fade-side;
  animation-duration: .300s;
  .typeFilter {
    margin-right: 10px;
    width: 80px;
    height: 25px;
    text-transform: capitalize;
  }
  .subtypeFilter{
    width: 100px;
    height: 25px;
    text-transform: capitalize;
  }
}
@keyframes fade-side {
  0%{
    opacity: 0;
    transform: translate3d(-50px,0px,0px);
  }
  100%{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
  }
}