.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

[data-theme="light"] {
  --backgroundColor: #86dfec;
  --textColor: black;
  --cardColor: #b9f5fd;
}

[data-theme="dark"] {
  --backgroundColor: #161625;
  --textColor: white;
  --cardColor: #47475b;
}
.container {
  padding: 20px 50px;
}
.containerWrapper {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  min-height: 100vh;
}

@media screen and (max-width:800px){
  .container {
    padding: 20px 20px;
  }
}

