.topAnimeWrapper {
  margin-bottom: 5px;
  .topAnimeHeader {
    margin-bottom: 5px;
    animation-name: fade-side;
    animation-duration: .300s;
  }
  
}
@keyframes fade-side {
  0%{
    opacity: 0;
    transform: translate3d(-50px,0px,0px);
  }
  100%{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
  }
}