.modalAnime {
  background: #3a3a4f;
  margin: 10%;
  padding: 10px;
  max-height: 80%;
  overflow: auto;
  color: white;
  .label {
    font-weight: 600;
  }
  .buttonWrapper{
    margin-top: 10px;
  .button{
    background-color: #7280cd;
  }
}
}
